<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unipic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniPic">
        <activity android:name=".views.acivities.ImageActivity"></activity>
        <activity android:name=".views.acivities.ImageGalleryActivity" />
        <activity android:name=".views.FolderPicker" />
        <activity android:name=".activity_activity_A" />
        <activity android:name=".views.acivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>